@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-arrows{
    -moz-appearance: textfield;
}
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.custom-scrollbar::-webkit-scrollbar{
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
    @apply bg-primary;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track{
    @apply bg-gray-800;
    border-radius: 10px;
}

.radio{
    @apply min-w-[100px] flex items-center justify-center bg-gray-800 text-gray-400 cursor-pointer p-2;
}

.radio.yes.active{
    @apply bg-green-500/25 text-green-500
}
.radio.no.active{
    @apply bg-red-500/25 text-red-500
}